@import "bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/";

button[type=submit] {
    margin-top: 10px;
}
.required {
    > label {
        font-weight: bold;
        &:after {
          content: ' *';
          color: #C3232D;
        }
    }
}
header {
    .navbar {
        border-radius: 0;
        margin-bottom: 0;
        button[type=submit] {
            margin-top: 0;
        }
    }
}
